<header>
    <mat-toolbar color="secondary">
      <!-- <mat-icon>music_note</mat-icon> -->
      <img mat-card-md-image src="../../../assets/ApiFi_Icon.svg"  alt="ApiFi Icon" style="width: 36px; height: 36px;" class="m-2">
      ApiFi
      <span class="spacer"></span>
      API-Fication of database and schemas
    </mat-toolbar>
</header>

<div class="container mt-5">
  <div class="row">
    <div class="col mt-5">
      <div class="container text-center">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput placeholder="Select Data">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>API Type</mat-label>
            <input matInput placeholder="Choose API type">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Endpoint Operations</mat-label>
            <input matInput placeholder="Select endpoint operations">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="row">
          <button mat-stroked-button style="width: 100%;" (click)="openDialog()">Preview <i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container align-center text-center mt-5">
        <div class="row">
          <div class="col">
            <img mat-card-md-image src="../../../assets/icons/1679583758253.png"  alt="Azure Icon" class="m-2">
          </div>
          <div class="col">
            <img mat-card-md-image src="../../../assets/icons/icons8-graphql-an-open-source-data-query-and-manipulation-language-for-api-96.png"  alt="Amazon Icon" class="m-2">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img mat-card-md-image src="../../../assets/icons/icon-soap.png"  alt="Google Icon" class="m-2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="swagger-ui"></div> -->
  <div class="row mt-5 footer">
    <div class="col">
      <footer>
        <button mat-raised-button style="width: 100%; height: 50px; background-color: #FBE8A3;" color="#C3DED6">Generate API <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      </footer>
    </div>
  </div>
</div>