<!-- <div class="popup"> -->
    <h2 mat-dialog-title>Data From CSV</h2>
    <mat-dialog-content class="mat-typography">
      <table mat-table [dataSource]="api.uploadedData.value" class="mat-elevation-z8">
        <!-- @for (column of displayedColumns; track column) { -->
          <ng-container *ngFor="let column of api.columnsToDisplay; index as i;" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="api.columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: api.columnsToDisplay;"></tr>
    </table>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
      <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  </mat-dialog-actions>
<!-- </div> -->