span.spacer {
    flex: 1 1 auto;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

.provision {
    background-color: #C3DED6;
}
