<header>
    <mat-toolbar color="secondary">
      <!-- <mat-icon>music_note</mat-icon> -->
      <img mat-card-md-image src="../../../assets/QwickCloud_Icon.svg"  alt="QwickCloud Icon" style="width: 36px; height: 36px;" class="m-2">
      QwickCloud
      <span class="spacer"></span>
      Instant cloud provisioning
    </mat-toolbar>
</header>
<div class="container">
  <div class="row">
    <div class="col mt-3">
      <div class="container text-center">
        <div class="row">
          <!-- <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-label>Provider</mat-label>
            <mat-select [(value)]="currentProvider"> <!-- [disabled]="disableSelect.value" -->
              <mat-option *ngFor="let provider of cloudProviders" [value]="provider" [disabled]="provider.provider != 'Azure'">
                <img src="{{provider.icon}}" alt="" style="width:24px;height:24px;">
                {{provider.provider}}
              </mat-option>
              <!-- <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Pricing Tier</mat-label>
            <mat-select [(value)]="selectedPricingTier"> <!-- [disabled]="disableSelect.value" -->
              <mat-option *ngFor="let tier of currentProvider.pricingTier" [value]="tier">
                {{tier}}
              </mat-option>
              <!-- <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Region</mat-label>
            <mat-select [(value)]="selectedRegion"> <!-- [disabled]="disableSelect.value" -->
              <mat-option *ngFor="let region of currentProvider.region" [value]="region">
                {{region}}
              </mat-option>
              <!-- <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Database Name</mat-label>
            <input matInput [(ngModel)]="databaseName" placeholder="Enter Database Name">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container align-center text-center">
        <div class="row">
          <div class="col">
            
            <img mat-card-md-image src="../../../assets/icons/icons8-azure-240.png"  alt="Azure Icon" class="m-2">
          </div>
          <!-- <div class="col">
            <img mat-card-md-image src="../../../assets/icons/icons8-amazon-web-services-240.png"  alt="Amazon Icon" class="m-2">
          </div> -->
          <div class="col">
            <img mat-card-md-image src="../../../assets/icons/icons8-google-cloud-240.png"  alt="Google Icon" class="m-2">
          </div>
        </div>
        <div class="row">
          <!-- <div class="col">
            <img mat-card-md-image src="../../../assets/icons/pngegg.png"  alt="SQL Server Icon" class="m-2">
          </div>
          <div class="col">
            <img mat-card-md-image src="../../../assets/icons/pngwing.com.png"  alt="MongoDb Icon" class="m-2">
          </div>
          <div class="col">
            <img mat-card-md-image src="../../../assets/icons/icons8-postgresql-240.png"  alt="MongoDb Icon" class="m-2">
          </div> -->
          <div class="col">
            <img mat-card-md-image src="../../../assets/icons/icons8-amazon-web-services-240.png"  alt="Amazon Icon" class="m-2">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button mat-stroked-button style="width: 100%;">Provision more resources</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row mt-2">
    <div class="col">
      <h2 *ngIf="provisionedResources.length != 0">Provisioned Resource</h2>
    </div>
  </div> -->
  <div class="row mt-2" *ngIf="provisionedResources.length != 0">
    <!-- <mat-expansion-panel *ngIf="provisionedResources.length != 0" expanded="true" class="example-headers-align" multi>
      <mat-expansion-panel-header>
        <mat-panel-title> -->
          <!-- <img src="{{provisionedResources[0].icon}}" alt="" style="width:36px;height:36px;"> -->
          <h2>Provisioned Resource</h2>
        <!-- </mat-panel-title> -->
        <!-- <mat-panel-description> -->
          <!-- {{provisionedResources[0].provider}}
          <img src="{{provisionedResources[0].icon}}" alt="" style="width:36px;height:36px;"> -->
        <!-- </mat-panel-description> -->
      <!-- </mat-expansion-panel-header> -->
      <mat-card class="">
        <mat-card-content>
          <div class="container">
            <div class="row">
              <div class="col">
                <p>Provider:</p>
                <img src="{{provisionedResources[0].icon}}" alt="" style="width:36px;height:36px;">
                <!-- <h2 class="font-weight-bold">{{provisionedResources[0].provider}}</h2> -->
              </div>
              <div class="col">
                <p>Tier:</p>
                <h2 class="font-weight-bold">{{provisionedResources[0].tier}}</h2>
              </div>
              <div class="col">
                <p>Region:</p>
                <h2 class="font-weight-bold">{{provisionedResources[0].region}}</h2>
              </div>
              <div class="col">
                <p>DB Name:</p>
                <h2 class="font-weight-bold">{{provisionedResources[0].databaseName}}</h2>
              </div>
              <div class="col">
                <p>URL:</p>
                <h2 class="font-weight-bold">{{api.provisionedResourceDetails.properties.sqlEndpointProperties.connectionString}}</h2>
              </div>
              <div class="col">
                <p>Status:</p>
                <h2 class="font-weight-bold">{{api.provisionedResourceDetails.properties.sqlEndpointProperties.provisioningStatus}}</h2>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    <!-- </mat-expansion-panel> -->
  </div>
  <div class="row mt-5 footer">
    <div class="col">
      <footer>
        <button *ngIf="provisionedResources.length == 0" mat-raised-button (click)="provisionResource()" 
        [disabled]='selectedPricingTier == "" || selectedRegion == "" || databaseName == ""'
        style="width: 100%; height: 50px; background-color: #C3DED6;" 
        color="#C3DED6">Provision Resource <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
      <button mat-raised-button *ngIf="provisionedResources.length != 0" disabled
        style="width: 100%; height: 50px; background-color: #C3DED6;" 
        color="#C3DED6">PROVISIONED<i class="fa fa-check" aria-hidden="true"></i>
      </button>
      </footer>
    </div>
  </div>
</div>