<header>
    <mat-toolbar color="secondary">
      <!-- <mat-icon>music_note</mat-icon> -->
      <img mat-card-md-image src="../../../assets/CashApi_Icon.svg"  alt="CashApi Icon" style="width: 36px; height: 36px;" class="m-2">
      CashApi
      <span class="spacer"></span>
      Automated API Monetization
    </mat-toolbar>
</header>

<div class="container">
  <div class="row">
    <div class="col mt-5">
      <div class="container text-center">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>API</mat-label>
            <input matInput placeholder="Select API">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Endpoints</mat-label>
            <input matInput placeholder="Choose Endpoints">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Cost Model</mat-label>
            <input matInput placeholder="Choose cost model">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container align-center text-center mt-5">
        <div class="row">
          <div class="col">
            <img mat-card-md-image src="../../../assets/icons/Stripe_Logo,_revised_2016.svg"  alt="Azure Icon" class="m-2">
          </div>
          <div class="col">
            <img src="../../../assets/icons/pngwing.com (2).png"  alt="Amazon Icon" class="m-2" style="width: 70%;">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img mat-card-md-image src="../../../assets/icons/icons8-paypal-240.png"  alt="Google Icon" class="m-2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <h2>Monetized API</h2>
    <mat-card>
      <mat-card-content>
        <div class="container">
          <div class="row text-center">
            <h3>API Name</h3>
          </div>
          <div class="row">
            <div class="col">
              <a href="https://cashapi.in/marketplace" target="_blank" rel="noopener noreferrer">
                <button mat-stroked-button style="width: 100%;">Go To CashAPI Marketplace <i class="fa fa-eye" aria-hidden="true"></i></button>
              </a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row mt-5 footer">
    <div class="col">
      <footer>
        <button mat-raised-button style="width: 100%; height: 50px; background-color: #0CA789;">Monetize API <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      </footer>
    </div>
  </div>
</div>